{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div id="jumbotron" class="jumbotron text-center">
        <h1 id="devise" class="display-5">Exchange Rate Converter</h1>
        <img src="../static/images/image1.jpeg" class="image" alt="Currency Exchange" />
    </div>
    <div class="container">
        <h1 class="text-center">About Me</h1>
        <p>Hello! I’m Nnanna Atu, a passionate developer with a relentless curiosity for technology and a knack for problem-solving. My journey into programming began as a young child, captivated by the endless possibilities that technology can offer. From building simple websites to creating complex applications, I’ve always found joy in crafting solutions that make life a little easier for others.

            I have a profound love for finance and currency markets, which sparked the idea for my latest project: the Currency Exchange Rate App. This application is not just a tool; it’s a reflection of my dedication to merging technology with finance. My goal is to empower users to navigate the often-complex world of currency exchange with ease and confidence.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        
        <h3>Inspiration</h3>
        <p>The inspiration for this project emerged from a simple realization: travelers and traders alike need a straightforward and intuitive way to understand and swap currencies. I wanted to create a platform where users can effortlessly convert currencies, keeping them informed of the latest exchange rates without the hassle. Whether you’re planning a trip abroad or trading in the global markets, this app is designed to be your go-to resource.</p>

        <h3>Connect with Me</h3>
        <p>I believe in the power of collaboration and community. I’d love to connect with fellow enthusiasts, developers, and anyone interested in technology and finance! Feel free to reach out to me on my social profiles:</p>
        <ul>
            <li><a href="https://www.linkedin.com/in/nnannatu" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/nnannatu" target="_blank">GitHub</a></li>
        </ul>
        <p>Thank you for visiting my project! I hope it serves you well and inspires you to explore the fascinating world of currency exchange.</p>
    </div>
{% endblock %}
